language: ruby

rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.1

env:
  - RAILS_VERSION=3.2
  - RAILS_VERSION=4.0
  - RAILS_VERSION=4.1

matrix:
  exclude:
    - rvm: 1.8.7
      env: RAILS_VERSION=4.0
    - rvm: 1.8.7
      env: RAILS_VERSION=4.1
